<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit File</title>
</head>

<body>
    <h1>Recognize Hand Writing</h1>

    <form action="recognize/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="hand_writing_img" value="Please Select File" accept="image/*"><br />
        <input type="submit">
    </form>
</body>

</html>